<p>
</br><a href="#events">1. Was ist mobilize.berlin?</a></br>
<a href="#UX">2. How To</a></br>
<a href="#federation">3. F&ouml;deration</a></br>
<a href="https://mobilize.berlin/privacy" target="_blank">Datenschutzerkl&auml;rung</a></br>
<a href="https://mobilize.berlin/terms" target="_blank">Nutzungsbedingungen</a>
</p>
</article>
<article id="events">
	<h1>Was ist mobilize.berlin?</h1>
	<p>
	mobilize.berlin ist eine Veranstaltungsplattform f&uuml;r Berlin. mobilize.berlin ist offen f&uuml;r alle Veranstalter*innen und Nutzer*innen, die sich an die <a href="https://mobilize.berlin/rules" target="_blank">Instanz-Regeln</a> halten.</p>
	<p>Unser Angebot ist f&uuml;r alle, die Facebook nicht  <span class='sub'>(mehr)</span> nutzen <span class='sub'>(m&ouml;chten)</span>.</p>
	<p>Wir sind ein (noch) loser Zusammenschluss von Berliner*innen, die eine datenschutzfreundliche und freie Veranstaltungsplattform in ihrer Freizeit betreiben, pflegen, moderieren.</p>
	<p>mobilize.berlin nutzt die freie Software <a href="https://joinmobilizon.org/de/">Mobilizon</a>. Mobilizon verwendet <b>keine</b> aufmerksamkeits-basierten Algorithmen. Veranstaltungen werden chronologisch dargestellt. Mobilizon bietet die Freiheit Veranstaltungsplattformen mit unterschiedlichen Ausrichtungen (Instanzen) zu betreiben, oder mit unterschiedlichen Regeln. mobilize.berlin ist zwar f&uuml;r alle offen, hat aber einen Schwerpunkt auf Partys, Clubs, Konzerte, Festivals. Doch unterschiedliche Instanzen sind nicht voneinander abgeschottet. Veranstalter*innen k&ouml;nnen &uuml;ber Instanzen hinweg kooperieren. Nutzer*innen k&ouml;nnen auch Veranstaltungen auf anderen Instanzen in ihren Veranstaltungskalender aufnehmen. Wir von mobilize.berlin helfen gerne anderen Gruppen ihre eigenen Instanzen aufzubauen.
	</p>
</article>
<article id="UX">
	<h1>How To</h1>
	<p>Auf deinen Mobilizon-Account kannst du via Browser oder Android-App zugreifen. Es gibt Veranstaltungen und Gruppen, die diese organisieren sowie Nutzer*innen, die an diesen Veranstaltungen teilnehmen.</p>
	<h2>F&uuml;r Nutzer*innen</h2>
	<p>Entdecken - alle &ouml;ffentlichen Veranstaltungen von mobilize.berlin und anderen Instanzen mit denen wir f&ouml;derieren. Aktuell f&ouml;derieren wir mit <a href="https://salon.literatur.social" target="_blank">salon.literatur.social</a>. Mehrere Identitäten. Gruppen folgen. (kommt mit <a href="https://framagit.org/framasoft/mobilizon/-/issues/512">Version 1.2</a>. Aktuelle Version ist 1.0.7.) Du kannst Veranstaltungen per <code>.ics</code> in den eigenen Kalender importieren. anonyme Teilnahme, E-mail</p>
	<h2>F&uuml;r Organisator*innen</h2>
	<p>Workflow (Nutzung von Gruppen). <a href="https://framagit.org/framasoft/mobilizon/-/issues/464" target="_blank">Bug</a>: "Erstelle Veranstaltung" von Gruppenseite setzt Account als Ersteller, nicht die Gruppe. Gruppen: Mitglieder (mobiliverse), Rollen, (fediverse) Follower*innen. Sichtbarkeit der Veranstaltungen und Beiträge. E-Mail Benachrichtigungen.</p>
</article>
<article id="federation">
	<h1>F&ouml;deration</h1>
	<p>Dezentral, Instanzen und ihre eigenen Regeln, Kooperation &uuml;ber Instanzen hinweg</p>
	<p> Mobiliverse 
		<ul>	<li>There is a mobilizon-federation on the level on instances. In the discover area of mobilize.berlin events from salon.literatur.social are also shown.</li>
			<li>There is a mobilizon-federation for groups. Groups are (kind of) supposed to publish events. Members of a group hosted on mobilize.berlin can also be users of other instances.</li>
		</ul>
	Fediverse (siehe Abschnitt Activity Pub)
		<ul>	<li>Alle Veranstaltungen und Kommentare werden im Fediverse geteilt von <code>@relay@mobilize.berlin</code>.</li>
			<li>Alle Gruppen-Veranstaltungen und -Beiträge werden im Fediverse geteilt von <code>@&#x3c;Gruppe&#x3e;@mobilize.berlin</code>.</li>
		</ul>
	<h2>Activity Pub</h2>
	<p>Das Fediverse</p>
	<h2>Instanz&uuml;bergreifendes ver&ouml;ffentlichen</h2>
	<p>Blaaa</p>
</article>
