<p>
</br><a href="#events">1. What Is mobilize.berlin?</a></br>
<a href="#UX">2. How To</a></br>
<a href="#federation">3. A Note On Federation</a></br>
<a href="#team">4. Who Are We?</a></br>
<a href="https://mobilize.berlin/privacy" target="_blank">Privacy Policy</a></br>
<a href="https://mobilize.berlin/terms" target="_blank">Terms Of Service</a>
</p>
</article>
<article id="events">
	<h1>1. What Is mobilize.berlin?</h1>
	<p>
	mobilize.berlin is an event platform for Berlin. It is open for all event organizers and users who abide by the <a href="https://mobilize.berlin/rules" target="_blank">instance rules</a>.</p>
	<p> It is a service for those who do not use Facebook Events, or do not want to use it anymore.</p>
	<p>We are a loose association of Berliners who in their spare time run, maintain, and moderate a privacy-friendly and free event platform.</p>
	<p>mobilize.berlin uses the free-libre and open source (FLOSS) software <a href="https://mobilizon.org/en/" target="_blank">Mobilizon</a>, which is maintained and financed by the French not-for-profit <a href="https://framasoft.org/en/" target="_blank">Framasoft</a>. The service does not use attention-driven algorithms: events are presented chronologically. Each Mobilizon community, or instance, such as mobilize.berlin, may define its own rules and interests. Event organizers can promote their events within different communities, and users have a choice about the communities they wish to belong to, including the interests of that community, the terms of service the user agrees with, how the data is used, etc. The mobilize.berlin instance is open to all, with a focus on clubs, concerts, festivals, and parties in and around Berlin.</p>
	<p>Mobilizon communities are not isolated from each other. The platform allows organizers to cooperate and promote their events across various communities, that is, across various instances. Users of mobilizon.berlin can add events from other instances to their own event calendar, just as users of other instances can add events from mobilizon.berlin to theirs. We at mobilize.berlin are happy to help other groups set up their own instances to connect with us in the larger Mobiliverse.</p>
</article>
<article id="UX">
	<h1>2. How To</h1>
	<p>For more information about using Mobilizon, please see the official documentation at <a href="https://docs.joinmobilizon.org/use/" target="_blank">https://docs.joinmobilizon.org/use/</a>.</p>
	<p>You can access your Mobilizon account via a web browser at <a href="https://mobilize.berlin" target="_blank">https://mobilize.berlin</a> or the Android app available at <a href="https://f-droid.org/en/packages/app.fedilab.mobilizon/" target="_blank">F-Droid</a> (recommended) or <a href="https://play.google.com/store/apps/details?id=app.fedilab.mobilizon" target="_blank">Google Play</a>.</p>
	<h2>For Participants</h2>
	<p>At mobilize.berlin you can find public events promoted on this instance and other Mobilizon instances we federate within the Mobiliverse, which currently includes: <a href="https://salon.literatur.social/" target="_blank">https://salon.literatur.social/</a>. If you want to comment on or announce your participation in an event, simply click on the event announcement.</p>
	<p>When signing up with mobilize.berlin you are free to define your identity as you want. You can even have multiple identities or use the service anonymously.</p>
	<p>You can import events via <code>.ics</code> into your own calendar.</p>
	<h2>For Organizers</h2>
	<h3>Basic Workflow</h3>
	<p>The basic workflow to publish an event is as follows:
		<ul>	<li>(i) in the top menu bar click "Create",</li> 
			<li>(ii) include information about the event, and</li>
			<li>(iii) click "Create my event" to publish it.</li>
		</ul>
	</p>
	<p>In step (ii) you can choose to publish the event as an <em>individual</em> or a <em>group</em> (for differences between them, see below). If you want to add organizers after an event has already been published, edit the event and include the additional individual(s) or group(s) under "Organizers".</p>
	<h3>Individuals vs. Groups</h3>
	<p>Both individuals and groups may publish and manage events. There are some important differences between them: First, groups provide shared spaces for event preparation and coordination. Second, while individuals may interact within the Mobiliverse, only groups may interact with users of both the Mobilverse as well as the larger Fediverse (e.g., Mastodon; see Federation below).</p>
	<p>To start a group, click "My groups" in the top menu bar and then "Create my group".</p>
	<!-- <p>Workflow (Nutzung von Gruppen). <a href="https://framagit.org/framasoft/mobilizon/-/issues/464" target="_blank">Bug</a>: "Erstelle Veranstaltung" von Gruppenseite setzt Account als Ersteller, nicht die Gruppe. Gruppen: Mitglieder (mobiliverse), Rollen, (fediverse) Follower*innen. Sichtbarkeit der Veranstaltungen und Beiträge. E-Mail Benachrichtigungen.</p>-->
</article>
<article id="federation">
	<h1>3. A Note On Federation</h1>
	<p>There are two levels of federation: The Mobiliverse and The Fediverse.
	<h2>The Mobiliverse</h2>
	<p>The Mobiliverse refers to the various interconnected Mobilizon instances. For instance, in the discover area of mobilize.berlin, events from the <a href="https://salon.literatur.social/" target="_blank">https://salon.literatur.social/</a> Mobilizon instance are also shown, and vice verse.</p>
	<p>This interconnectedness, called Federation, allows users to choose which Mobilizon community (i.e., instance) they belong to, while still allowing interaction and organization with other Mobilizon communities (i.e., instances). 
	<!--	<ul>	<li>There is a mobilizon-federation on the level on instances. In the discover area of mobilize.berlin events from salon.literatur.social are also shown.</li>
			<li>There is a mobilizon-federation for groups. Groups are (kind of) supposed to publish events. Members of a group hosted on mobilize.berlin can also be users of other instances.</li>
		</ul>
	-->
	<h2>The Fediverse</h2>
	<p>The <a href="https://en.wikipedia.org/wiki/Fediverse" target="_blank">Fediverse</a> refers to an ensemble of interconnected services, such as the microblogging service <a href="https://joinmastodon.org/" target="_blank">Mastodon</a>, the video hosting service <a href="https://joinpeertube.org/" target="_blank">PeerTube</a>, and so on. While independently hosted and serving different needs, these services can nonetheless communicate with each other in various ways using the common language called <a href="https://activitypub.rocks/" target="_blank">ActivityPub</a>, a standard of the <a href="https://www.w3.org/TR/activitypub/" target="_blank">W3C</a>.</p>
	<p>There are two ways for Fediverse users to interact with mobilize.berlin:
		<ul>	<li><code>@relay@mobilize.berlin</code> is the main account for the entire mobilize.berlin instance. Follow this account to receive <em>all</em> events published by mobilize.berlin users in your stream.</li>
			<li><code>@&#x3c;group&#x3e;@mobilize.berlin</code> allows interaction with a <em>specific group</em> and its events. For instance, follow <code>@team@mobilize.berlin</code> to follow events organized by the group @team (the group running this instance).</li>
		</ul>
	</p>
</article>
<article id="team">
	<h1>4. Who Are We?</h1>
	<p>For information about the group @team: <a href="https://mobilize.berlin/@team" target="_blank">https://mobilize.berlin/@team</a></p>
</article>
